langchain
ipykernel
python-dotenv
langchain-community
# langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
sentence-transformers
chromadb
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
langchain-ollama
beautifulsoup4
langchain_community
faiss-cpu
streamlit
groq
langchain_groq
fastapi
uvicorn
langserve
langserve[all]
langchain-chroma
langchain_groq
langchain-groq
arxiv
wikipedia
duckduckgo-search